
$contents-width:2000px;
$contents-height:2000px;
$sidebar-width:50px;
$header-height:50px;

$scale-horizon-width:50px;
$scale-vertical-height:40px;

$contents-item-border:1px solid darkblue;

$contents-item-height:39px;

#sample-view-body {
  display : block;
  background-color: black;
  width  : 100%;
  height : 100%;
  padding: 10px;

  .scrollable-contents-area {
    display : block;
    width  : 100%;
    height : 100%;
    overflow: hidden;
    background-color: blue;
    transform: translateZ(0); //ハードウェアアクセラレーションのため
  }
  .scrollable-contents-body {
    display : block;
    background-color: skyblue;
    overflow: scroll;
    width : 100%;
    height: 100%;

    .contents-items {
      position:absolute;
      top:($scale-vertical-height - $contents-item-height)/2;
      left:0px;
      width:$contents-width;
      height:$contents-height;
      z-index : 42;

      .contents-item {
        overflow : initial;
        .hidden {
            display:none;
        }
        .contents-item-left-bar {
          position:absolute;
          width : 7px;
          height : $contents-item-height;
          cursor : ew-resize;
          z-index : 45;
          border-left: $contents-item-border;
        }

        .contents-item-body {
          position:absolute;
          height : $contents-item-height;
          background-color: skyblue;
          cursor : move;
          z-index : 43;
          border: $contents-item-border;
        }
        .contents-item-right-bar {
          position:absolute;
          height : $contents-item-height;
          width : 7px;
          cursor : ew-resize;
          z-index : 45;
          border-right: $contents-item-border;
        }
      }
    }
  }

  .scrollable-contents-top-left {
    display : block;
    position: absolute;
    top:0px;
    left:0px;
    width : $sidebar-width;
    height : $header-height;
    background: linear-gradient(90deg, rgba(255,255,255,1), rgba(255,255,255,0));
    z-index: 100;
  }

  .scrollable-contents-header {
    position: sticky;
    top     : 0px;
    display : block;
    background-color:  rgb(252,252,252);
    width : $contents-height + $sidebar-width;
    height : $header-height;
    z-index: 51;
    padding-left : $sidebar-width;
    border-bottom-style: solid;
    border-bottom-width: 1px;
  }
  .scrollable-contents-sidebar {
    position: sticky;
    left    :0px;
    display : block;
    background-color: rgba(240,240,240,0);
    height : $contents-height + $header-height;
    width  : $sidebar-width;
    z-index: 50;

    border-right-style: solid;
    border-right-width: 1px;
  }

  .scrollable-contents {
    position:absolute;
    top:$header-height;
    left:$sidebar-width;
    display : block;
    background-color: white;
    width : $contents-width;
    height: $contents-height;
    z-index: 40;
  }

  .scale-vertical {
    padding : 0px;
    li{
      display:inline-block;
      border-right: 1px solid #bbb;
    }
  }

  .scale-horizon {
    padding : 0px;
    li{
      display:block;
      height : $scale-vertical-height;
      border-bottom: 1px solid #bbb;
    }
    li:nth-child(odd) {
      background-color: rgb(255,255,255);
    }
    li:nth-child(even) {
      background-color: rgb(230,230,230);
    }
  }

  .scale-header {
    @extend .scale-vertical;
    position : absolute;
    left : $sidebar-width/2;
    li{
      height : $header-height;
      border-right-style: none;
      text-align: center;
      background-color: rgb(252,252,252);
    }
  }

  .scale-sidebar {
    @extend .scale-horizon;
    li{
      width : $sidebar-width;
    }
  }

  .scale-contents-vertical {
    @extend .scale-vertical;
    position : absolute;
    top : 0px;
    left : 0px;
    li{
      height : $contents-height;
    }
    z-index: 41;
  }

  .scale-contents-horizon {
    @extend .scale-horizon;
    position : absolute;
    top : 0px;
    left : 0px;
    li{
      width : $contents-width;
    }
    z-index: 40;
  }
}
